
<div dir>
<h1>Association Rules Rules</h1>
Association Rules rules indicate the mutual relationships and dependencies among a large set of data items.

A common example of discovering forum rules is "Market Basket Analysis". In this process, based on the different items that customers put in their baskets, the buying habits and behaviors of customers are analyzed. By identifying the relationships between products, repetitive patterns during shopping can be obtained.

Three important parameters:

Support shows the popularity of a set of items based on their frequency of occurrence in transactions.
Confidence shows the probability of purchasing item y when item x is purchased. x -> y
Lift is a combination of the above two parameters.
In this exercise, we use the Apriori algorithm, which is one of the most popular and efficient algorithms in this field, to implement forum rules.

<font color='Green'>Question: Investigate the effect of different values of the Lift parameter on the probability of the outcome. </font>

<font color='white'>Answer: The lift parameter shows the degree of association between two items. If the value of the lift is high, it means that two items are highly associated with each other, and vice versa. In fact, this parameter is the ratio of the number of times that two items have been purchased together to the number of times that it is expected that these two items be purchased together. </font>

</div>


<div dir>
<h1>Apriori Algorithm</h1>
The working principle of the Apriori algorithm is to set a minimum support value and iterations occur with frequent itemsets. If sets and subsets have a support value less than the threshold, they are removed. This process continues until there is no possibility of further elimination.

In this exercise, we want to apply the Apriori algorithm on the Hypermarket_dataset which includes orders of people's purchases from grocery stores.


</div>


<div dir>
<h1>Data Preprocessing</h1>
<font color='Green'>Question: To start the work, you need to prepare the dataset as a sparse matrix where purchased products are in the columns and the order numbers are the index.

For convenience, encode the purchased products in each order with numbers 0 or 1.

Your sample output matrix should be:

<img src="https://drive.google.com/uc?id=1eD0jan1ZbeYqSklgK--ks7oeY-MyTA3p"></img>

</div>

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
dataset = pd.read_csv('data/Hypermarket_dataset.csv')

In [5]:
dataset.loc[dataset['Member_number'] == 1905]

       Member_number        Date        itemDescription
19              1905  07-07-2015       other vegetables
35              1905  21-02-2015  fruit/vegetable juice
875             1905  19-05-2015                  sugar
5244            1905  18-10-2015                   soda
6713            1905  31-07-2015                    ham
7096            1905  07-07-2015         tropical fruit
7112            1905  21-02-2015                sausage
13447           1905  22-04-2014             photo/film
14090           1905  02-06-2014               cat food
15221           1905  31-01-2014      seasonal products
16168           1905  07-07-2015      seasonal products
16184           1905  21-02-2015                sausage
17024           1905  19-05-2015       other vegetables
21393           1905  18-10-2015                 onions
22862           1905  31-07-2015             whole milk
23245           1905  07-07-2015                 butter
23261           1905  21-02-2015          domestic eggs
29596           1905  22-04-2014          cream cheese
30239           1905  02-06-2014                 butter
31370           1905  31-01-2014                  soups
32306           1905  31-07-2015                  candy
33700           1905  25-08-2014            chewing gum
36107           1905  07-07-2015          shopping bags
36123           1905  21-02-2015      seasonal products
36428           1905  18-10-2015          cream cheese
38251           1905  25-08-2014                 yogurt

In [6]:
def items_to_array(items_array: list, purchased_items: list):
  vector = [0] * 167
  for item in purchased_items:
    item_index = items_array.index(item)
    vector[item_index] = 1
  return vector

In [7]:
dataset.loc[1]['itemDescription']

'whole milk'

In [8]:
# your code here
items = []
customer_IDs = []
member_transactions = {}

for i in range(len(dataset)):
  customer_id = dataset.loc[i]['Member_number']
  items_tmp = dataset.loc[i]['itemDescription']

  if customer_id not in customer_IDs:
    member_transactions[customer_id] = [items_tmp]
    customer_IDs.append(customer_id)
  else: 
    member_transactions[customer_id] += [items_tmp]

  if items_tmp not in items:
    items.append(items_tmp)

trasactions_vector = {}
for i in list(member_transactions.keys()):
  trasactions_vector[i] = items_to_array(items, list(set(member_transactions[i])))

In [9]:
transactions_df = pd.DataFrame.from_dict(trasactions_vector, orient='index', columns=items)
transactions_df

,tropical fruit,whole milk,pip fruit,other vegetables,rolls/buns,pot plants,citrus fruit,beef,frankfurter,chicken,...,flower (seeds),rice,tea,salad dressing,specialty vegetables,pudding powder,ready soups,make up remover,toilet cleaner,preservation products
1808,1,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2552,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2300,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1187,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3037,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0


<div dir>
<h1>Finding frequent patterns</h1>
<font color='Green'>Question: Using the Apriori algorithm and a minimum support threshold of 0.07, generate all frequent patterns. 

</div>

In [10]:
# your code here
frequent_itemsets = apriori(transactions_df, min_support=0.07)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

c:\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support    itemsets  length
0   0.233710         (0)       1
1   0.458184         (1)       1
2   0.170600         (2)       1
3   0.376603         (3)       1
4   0.349666         (4)       1
..       ...         ...     ...
78  0.097486    (17, 37)       2
79  0.077219    (18, 37)       2
80  0.081324    (37, 21)       2
81  0.082093   (1, 3, 4)       3
82  0.071832  (1, 3, 17)       3

[83 rows x 3 columns]


<div dir>
<h1>Extracting Association Rules</h1>
<font color='Green'>Question: Write a function that takes two inputs confidence and lift and displays the resulting association rules in the output. </br>
Record your output for both cases in the report.


</div>

In [13]:
# your code here
def extract_association_rules(freq_itemsets, confidence, lift):
    rules = association_rules(freq_itemsets, metric="confidence", min_threshold=confidence)
    rules = rules[rules['lift'] > lift]
    return rules

In [14]:
extract_association_rules(frequent_itemsets, 0.5, 1.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
13,"(3, 4)",(1),0.146742,0.458184,0.082093,0.559441,1.220996,0.014859,1.229837
14,"(17, 3)",(1),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507

In [18]:
extract_association_rules(frequent_itemsets, 0.3,  1.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(0),(17),0.233710,0.282966,0.075680,0.323820,1.144379,0.009548,1.060419
4,(0),(37),0.233710,0.313494,0.081837,0.350165,1.116974,0.008570,1.056431
5,(2),(1),0.170600,0.458184,0.086968,0.509774,1.112598,0.008801,1.105239
6,(1),(3),0.458184,0.376603,0.191380,0.417693,1.109106,0.018827,1.070564
7,(3),(1),0.376603,0.458184,0.191380,0.508174,1.109106,0.018827,1.101643
8,(1),(4),0.458184,0.349666,0.178553,0.389698,1.114484,0.018342,1.065592
9,(4),(1),0.349666,0.458184,0.178553,0.510638,1.114484,0.018342,1.107190
11,(16),(1),0.213699,0.458184,0.112365,0.525810,1.147597,0.014452,1.142615
12,(1),(17),0.458184,0.282966,0.150590,0.328667,1.161510,0.020940,1.068076
13,(17),(1),0.282966,0.458184,0.150590,0.532185,1.161510,0.020940,1.158185
14,(18),(1),0.206003,0.458184,0.106978,0.519303,1.133394,0.012591,1.127146
16,(23),(1),0.177527,0.458184,0.091072,0.513006,1.119651,0.009732,1.112572
17,(24),(1),0.165213,0.458184,0.087224,0.527950,1.152268,0.011526,1.147795
20,(43),(1),0.139815,0.458184,0.072345,0.517431,1.129310,0.008284,1.122775
21,(49),(1),0.158799,0.458184,0.085428,0.537964,1.174124,0.012669,1.172672
22,(68),(1),0.133145,0.458184,0.070292,0.527938,1.152242,0.009287,1.147766
23,(70),(1),0.168291,0.458184,0.091329,0.542683,1.184422,0.014220,1.184772
24,(73),(1),0.154695,0.458184,0.079785,0.515755,1.125650,0.008906,1.118888
25,(2),(3),0.170600,0.376603,0.072345,0.424060,1.126013,0.008096,1.082399
26,(3),(4),0.376603,0.349666,0.146742,0.389646,1.114335,0.015056,1.065502
27,(4),(3),0.349666,0.376603,0.146742,0.419663,1.114335,0.015056,1.074197
28,(6),(3),0.185480,0.376603,0.077476,0.417704,1.109135,0.007623,1.070584
29,(16),(3),0.213699,0.376603,0.093894,0.439376,1.166680,0.013414,1.111969
30,(17),(3),0.282966,0.376603,0.120318,0.425204,1.129050,0.013752,1.084553
31,(3),(17),0.376603,0.282966,0.120318,0.319482,1.129050,0.013752,1.053660
32,(18),(3),0.206003,0.376603,0.092868,0.450809,1.197040,0.015287,1.135119
37,(70),(3),0.168291,0.376603,0.073114,0.434451,1.153604,0.009735,1.102286
38,(6),(4),0.185480,0.349666,0.071832,0.387275,1.107556,0.006976,1.061380
40,(17),(4),0.282966,0.349666,0.111339,0.393472,1.125279,0.012396,1.072224
41,(4),(17),0.349666,0.282966,0.111339,0.318415,1.125279,0.012396,1.052011
42,(18),(4),0.206003,0.349666,0.082350,0.399751,1.143235,0.010318,1.083439
43,(21),(4),0.230631,0.349666,0.090816,0.393771,1.126133,0.010172,1.072752
46,(16),(37),0.213699,0.313494,0.076193,0.356543,1.137318,0.009199,1.066902
47,(18),(17),0.206003,0.282966,0.075423,0.366127,1.293892,0.017132,1.131196
51,(18),(37),0.206003,0.313494,0.077219,0.374844,1.195698,0.012638,1.098136
52,(21),(37),0.230631,0.313494,0.081324,0.352614,1.124787,0.009022,1.060427
53,"(1, 3)",(4),0.191380,0.349666,0.082093,0.428954,1.226753,0.015174,1.138847
54,"(1, 4)",(3),0.178553,0.376603,0.082093,0.459770,1.220834,0.014850,1.153947
55,"(3, 4)",(1),0.146742,0.458184,0.082093,0.559441,1.220996,0.014859,1.229837
56,"(1, 3)",(17),0.191380,0.282966,0.071832,0.375335,1.326434,0.017678,1.147870
57,"(1, 17)",(3),0.150590,0.376603,0.071832,0.477002,1.266589,0.015119,1.191967
58,"(17, 3)",(1),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507